@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
  background-color: #f1f1f1;
  width: 15px;
}

/* Alterar a cor do "rastro" da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #ff9a00;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff9900c4;
}

.body-lanchonete{
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.menus-area {
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
  padding: 100px 0;
  color: #fff;
}

.menus-area:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: -1;
  opacity: .95;
  left: 0;
  top: 0;
}

.section-title {
  text-align: center;
  margin-bottom: 60px;
}

.section-title h4 {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 60px;
}

.menus {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*
.menus 
{  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem 1rem;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . .";
}
*/

.menu-items {
  flex-basis: 32%;
}

.title {
  background-color: #ff7720;
  text-align: center;
  padding: 10px 0;
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.single-menu {
  background-color: #333;
  border: 1px solid #ddd;
  padding: 25px;
  text-align: center;
  position: relative;
  transition: .3s;
  height: 200px;
  margin-bottom: 1rem;
}

.single-menu span {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #ff7720;
  padding: 8px 20px;
  font-size: 20px;
  font-weight: 700px;
  border-radius: 15px 0 0 0;
}

.single-menu img {
  max-width: 80px;
  border: 1px solid #ddd;
  padding: 3px;
  transition: .3s;
}

.single-menu h4 {
  margin: 10px 0;
  padding-bottom: 10px;
  text-transform: capitalize;
  font-size: 24px;
}

.single-menu a {
  display: inline-block;
  color: #ff7720;
  text-transform: uppercase;
  margin-top: 25px;
}

.single-menu:hover img {
  border-radius: 50%;
}

.single-menu:hover {
  border-color: #ff7720;
  border-radius: 7px;
}

.bebidas-e-alcolicos{
  display: flex;
  text-align: center;
}

.bebidas{
  margin-left: 170px;
  margin-top: 90px;
  width: 350px;
}

.bebidas h2{
    text-align: center;
}

.bebidas li{
  list-style: none;
  margin-left: 30px;
}

/*NAVBAR*/






@media only screen and (max-width: 767px) {
  .container{
    width: 350px;
  }
  
  .section-title h4 {
    font-size: 34px;
    line-height: 50px;
  }

  .menu-items {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .bebidas-e-alcolicos{
    flex-wrap: wrap;
    margin-bottom: 220px;
    gap: 40px;
  }
}